
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Tutorial
Name[it_IT]=Tutorial
Categories=Utility;
NotShowIn=Openbox;
Exec=/usr/bin/tropez --with-greeter
Icon=face-wink
